<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" href="{{ url_for('main.index') }}">SampleSimp</a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
        aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item {% if active_page == 'main.index' %}active{% endif %}">
                <a class="nav-link" href="{{ url_for('main.index') }}">Home <span class="sr-only">(current)</span></a>
            </li>
            {% if current_user.is_authenticated %}
            <li class="nav-item {% if active_page == 'blog.profile' %}active{% endif %}">
                <a class="nav-link" href="{{ url_for('blog.profile') }}">Profile</a>
            </li>
            <li class="nav-item {% if active_page == 'blog.network' %}active{% endif %}">
                <a class="nav-link" href="{{ url_for('blog.network') }}">Network</a>
            </li>
            {% endif %}
            <li class="nav-item {% if active_page == 'main.about' %}active{% endif %}">
                <a class="nav-link" href="{{ url_for('main.about') }}">About</a>
            </li>
            <li class="nav-item {% if active_page == 'main.contact' %}active{% endif %}">
                <a class="nav-link" href="{{ url_for('main.contact') }}">Contact</a>
            </li>
            <li class="nav-item {% if active_page == 'blog.upload_image' %}active{% endif %}">
                <a class="nav-link" href="{{ url_for('blog.upload_image') }}">Upload</a>
            </li>
            
        </ul>
        <ul class="navbar-nav m1-auto">
            {% if not current_user.is_authenticated %}
            <li class="nav-item {% if active_page == 'authentication.login' %}active{% endif %}">
                <a href="{{ url_for('authentication.login') }}" class="nav-link">Login</a>
            </li>
            <li class="nav-item {% if active_page == 'authentication.register' %}active{% endif %}">
                <a href="{{ url_for('authentication.register') }}" class="nav-link">Register</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a href="{{ url_for('authentication.logout') }}" class="nav-link">Logout</a>
            </li>
            {% endif %}
        </ul>
        {% if g.search_form and current_user.is_authenticated %}
        <form class="navbar-form navbar-left" methods="get"
                action="{{ url_for('blog.search') }}">
                <div class="form-group">
                    {{ g.search_form.q(size=20, class='form-control', placeholder=g.search_form.q.label.text) }}
                </div>          
        </form>
        {% endif %} 
    </div>
</nav>